---
# tasks file for ansible-role-bwa

- name: Detect environment
  set_fact:
    base_path: "{% if ansible_domain == 'cedar.computecanada.ca' %}{{ ansible_env.HOME }}/scratch{% else %}{{ ansible_env.HOME }}{% endif %}"
  when: base_path is not defined

- name: Create /tmp directory
  file:
    path: /tmp/biol
    state: directory
  notify: Remove biol tmp dir

# - name: Get util files
#   get_url:
#     url: "{{ conda_util_file }}"
#     dest: /tmp/biol/
- name: Get util files
  copy:
    src: ../tannerdowhy.ansible_role_conda/files/conda.py
    dest: /tmp/biol/conda.py

- name: Set conda executable variable
  set_fact:
    conda_executable: "{{ base_path }}/.biolighthouse/software/conda/bin/conda"
  when: conda_executable is not defined

- name: Create a conda environment
  conda_create:
    name: "bl_bwa"
    executable: "{{ base_path }}/.biolighthouse/software/conda/bin/conda"

- name: Put environment activation in .bashrc
  lineinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    line: "conda activate bl_bwa"
  notify: Remove environment activation in .bashrc

- name: Install bwa via conda
  conda_install:
    name: 'bwa'
    version: '0.7.17'
    executable: "{{ conda_executable }}"
    channel: bioconda
    environment: bl_bwa
  notify: Remove biol tmp dir

- name: Remove environment activation in .bashrc
  lineinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    regexp: "^conda activate bl_*"
    state: absent
